* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: rgba(255, 242, 231, 0.50);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*Estilos Header*/
header {
  width: 100%;
  padding: 24px 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1517;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

/*Estilos Main*/
.main-container {
  background: #181012;
  display: flex;
  width: 100%;
  padding: 0 160px;
  gap: 150px;
}
.main-info {
  margin-top: 64px;
}
.main-info span {
  color: #A45A49;
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.main-info h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 800;
  line-height: 120%;
  margin-top: 10px;
}

.main-linha {
  border: 2px  solid #A45A49;
  width: 240px;
  margin-top: 10px;
}

.main-info p {
  color: #C7BAB3;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 33px;
}

.main-setas-up img {
  position: absolute;
  margin-top: 80px;
  padding: 10px;
  border-radius: 8px;
  background-color: #A45A49;
}

/*Estilos Section-Receitas*/
.section-container {
  background-color:#1f1517 ;
  width: 100%;
  padding: 55px 160px;
}

.section-container p {
  color: #C7BAB3;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 148%;
}

.section-receitas-info strong{
  color: #A45A49;
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.cards .card-info-strong {
  color:#A45A49;
}

.section-receitas-info h2 {
  color: #FFF2E7;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 8px;
}

.section-receitas-info p {
  color: #C7BAB3;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 148%;
}

.section-container .section-info-carregar  {
  color:#C7BAB3;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  text-align: center;
  margin-top: 32px;
}

/*Estilo Section Cards*/
.section-cards {
  display: flex;
  gap: 32px;
}
.cards {
  background-color: #241A1C;
  min-width: 480px;
  max-width: 560px;
  border-radius: 8px;
  margin-top: 32px;
  padding: 16px;
}

.cards strong {
  color: #E7A80E;
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 500;
  padding-left: 8px;
}
 
.cards p {
  color: #C7BAB3;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 12px;
  padding-left: 8px;
}

.section-descrition {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-descrition h3 {
  color: #FFF2E7;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.4px;
  text-align: center;
  padding-left: 8px;
}

.section-descrition p {
  color: #756A67;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 132%;
}

.section-descrition-avatar p {
  color: #C7BAB3;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.section-descrition-avatar img {
  width: 24px;
  height: 24px;
}

/*Estilo Footer*/
footer {
  background-color:#23181A ;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 160px;
}

footer p {
  color: #FFF2EF;
  font-family: Inter;
  font-size: 10px;
  font-weight: 500;
  margin-top: 8px;
}